@import "./colors.scss";
@import "./mixins.scss";

.main-container {
  @include container;
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.main-left {
  max-width: 50%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;

  p {
    margin: 1em 0;
  }
  h1 {
    margin: 0;
  }
  button {
    align-self: flex-start;
  }
  @media (max-width: 768px) {
    max-width: 100%;

    button {
      align-self: center;
    }
  }
}

.upload-container {
  @include container();
  p {
    text-align: center;
  }
  h2 {
    text-align: center;
    margin-top: 0;
  }
}
.upload-wrapper {
  background-color: $btn-text;
}
.upload-form {
  min-height: 30vh;
  padding: 3rem;
  border-radius: 0.35rem;
  background-color: $bg-main;
  display: flex;
  flex-direction: column;

  .place-holder {
    margin: 0 auto;
    padding: 3rem;
    font-size: 6rem;
    font-weight: 700;
    text-decoration: underline $btn-text 0.075em;
  }
  .results {
    text-align: center;
    color: $pr-main;
    font-size: 1.5rem;
    font-weight: 500;
    strong {
      font-size: 1.55rem;
      border-bottom: 0.2em solid $btn-text;
    }
  }

  img {
    margin: 2rem auto;
  }
  .btns {
    display: flex;
    justify-content: center;
    & > * {
      margin: 0 0.5em;
    }
    & :first-child {
      @include btn($hl-main, $btn-text);
      // border: 3px solid $btn-text;
    }
  }
  .browse {
    display: none;
  }
  .preview {
    max-width: 50%;
  }
}

footer {
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  strong:first-of-type {
    color: $hl-main;
  }
  strong {
    color: $btn-main;
  }
}
