@import "./colors.scss";

.logo {
  font-size: 2.5rem;
  font-weight: 800;
  display: flex;
  @media (max-width: 768px) {
    justify-content: center;
  }

  span {
    margin-right: 0.5rem;
  }
}
header {
  display: flex;
  padding-block: 3rem;
  max-width: 1040px;
  margin: 0 auto;
  @media (max-width: 768px) {
    padding-block: 2rem;
    padding-bottom: 0;
  }
}
